{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.id }}!</h1>
    <h3>Daily 5 Songs Only For You:</h3>
    {% for song in songs %}
    <div><p> <b>{{ song.name}}</b> by <b>{{ song.artists }}</b></p></div>
    {% endfor %}

    <form action="{{ url_for('search_results')}}" method="post">
        <h1>Search</h1>
        <label for="select">Search for music:</label>
        <select id="select" name="select">
            <option value="Song">Song</option>
            <option value="Artist">Artist</option>
        </select>
        <br>
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
