{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.id }}!</h1>
    <h3>Daily 5 Songs Only For You:</h3>
    {% for song in songs %}
    <div><p> <b>{{ song.name}}</b> by <b>{{ song.artists }}</b></p></div>
    {% endfor %}

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
    <h1>Search</h1>
    <dl>
        {{ render_field(form.select) }}
        <p>
        {{ render_field(form.search) }}
    </dl>
    <p><input type=submit value=Search>
    </form>

{% endblock %}